/* Estos son comentarios en CSS */
/* h1{ */
    /* color del texto con color */
    /* color: #344E41; */
    /* alinacion de texto con text-align */
    /* text-align: center; */
/* } */
/* h2{ */
    /* color: #344E41; */
    /* fondo del texto con background-color */
    /* background-color: #DAD7CD; */
    /* text-align: right; */
/* } */
/* *{
    selector universal
} 
h1,h2,p{
    selector multiple
}
*/
/*
seleccion por herencia 
section p{
    color: red;
}
*/
header{
    background-color: black;
}
h1{
    color: rgba(184, 195, 111, 0.679);
    text-align: center;
}
nav{
    background-color: rgba(184, 195, 111, 0.679);
    text-align: center;
}
section{
    background-color: rgb(4, 206, 251);
    text-align: center;
}
aside{
    background-color: rgb(226, 24, 166);
    text-align: center;
}
footer{
    background-color: yellow;
    text-align: center;
}
